*{
    padding: 0;
    margin: 0;
}

#game{
    width: 1000px;
    height: 200px;
    border: 1px solid blue;
}

#char{
    width: 20px;
    height: 50px;
    background-color: coral;
    position: relative;
    top: 150px;
}

.charJump{
    animation: jump 500ms;
}

#obstacle{
    width: 20px;
    height: 20px;
    background-color: darkblue;
    position: relative;
    top: 130px;
    left: 980px;
    animation: obstacleSlide 1s infinite linear;
}

@keyframes obstacleSlide{
    0%{left:980px;}
    100%{left:-40px;}
}

@keyframes jump{
    0%{top: 150px;}
    50%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}